@font-face {
  font-family: rubik;
  src: url(./Rubik/Rubik-VariableFont_wght.ttf);
}

:root{
  font-family: rubik;
  font-size: 16px;
  color: red;
}
body {
  margin: 0;
}

.question > * {
  display: block;
  margin: 1rem auto;
}

.layout {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      217deg,
      rgba(204, 195, 195, 0.6),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  display: flex;
  justify-content: center;
  padding: 50px;
}
.page {
  min-width: 200px;
  width: 70%;
  height: min-content;
  background-color: rgba(223, 218, 212, 0.472);
  color: black;
  border: 5px solid black;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.4rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;  
}

input + .slider {
  background-color: rgb(0, 107, 4);
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.payment{
  text-align: center;
}
.options > * {
  margin: 0 3rem;
}
.payment > * {
  margin-top: 1rem;
}
.input-group{
  --ig-top: .7rem;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.input-group label{
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 1.1rem;
}
.input-group input, .input-group button{
  padding: 1rem;
  padding-top:  var(--ig-top);
  padding-bottom:  var(--ig-top);
  border: none;
}
.input-group input{
  border-top-left-radius: 5px;;
  border-bottom-left-radius: 5px;;
}
.input-group button{
  background-color: rgba(0, 0, 0, 0.198);
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input-group button:hover{
  box-shadow: 5px 5px 40px 5px #0ff;
  cursor: pointer;
}
.input-group input:hover{
  cursor: pointer;
}